# Data cleaning

First the `pandas` library is imported as `pd`. Then with `read_csv()` it will read the csv-file and save the data as *isd*. With `head()` it'll take the first 5 entries of the data and save as `isd_head`.

In [1]:
import pandas as pd

isd = pd.read_csv("datasets/Index_Statisch_Dynamisch.csv")
isd_head = isd.head()

With *`columns.values`* the column names are extracted into an array.

In [2]:
isd_head.columns.values

array(['Organization', 'Organization ID', 'Static parking data',
       'URL static parking data', 'Standard static parking data',
       'Dynamic parking data', 'URL dynamic parking data'], dtype=object)

To remove some of the columns that aren't needed you can use `drop()` and specify in `columns[[]]` the columns numbers that need to be removed.

In [4]:
isd_head_drop = isd_head.drop(isd_head.columns[[3, 4, 6]], axis=1)
isd_head_drop

    Organization  Organization ID  Static parking data Dynamic parking data
0      Groningen               14                 True                 True
1          Haren               17                 True                 True
2         Almere               34                 True                 True
3    Dongeradeel               58                 True                  NaN
4  Franekeradeel               70                 True                  NaN

In [37]:
isd_head_drop[[3]] = isd_head_drop[[3]].fillna(value=False)
isd_head_drop

0     True
1     True
2     True
3    False
4    False
Name: Dynamic parking data, dtype: bool