# Combine data

Script to combine the data from TARIEFDEEL.csv (T) and GEBIEDSBEHEERDER.csv (GB), adding the area manager name in dataset T.

I use the `pandas` package for this script to combine the datasets. First I remove unnecessary columns that I don't need. Then I want to add the area manager name from dataset GB to dataset T. After I've combined them I want to create simple visualizations: tables en chart.

## Import & scale down

1. Import `pandas`.
2. Only use the first 25 rows.
3. Print the column names.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt


M = pd.read_csv("datasets/RDW/GEBIEDSBEHEERDER.csv")
F = pd.read_csv("datasets/RDW/TARIEFDEEL.csv")

managers = M.head(25)
fare = F.head(25)
print(fare.columns.values, "\n", managers.columns.values)

['AreaManagerId' 'FareCalculationCode' 'StartDateFarePart'
 'StartDurationFarePart' 'EndDurationFarePart' 'AmountFarePart'
 'StepSizeFarePart' 'EndDateFarePart' 'AmountCumulative']
 ['AreaManagerId' 'AreaManagerDesc' 'StartDateAreaManagerId'
 'EndDateAreaManagerId' 'URL']

## Remove fields

1. Remove three unused columns in GB.

In [2]:
managers = managers.drop(managers.columns[[2, 3, 4]], axis=1)
managers

    AreaManagerId            AreaManagerDesc
0            2468  Aberdeen Asset Management
1            1783                   Westland
2            1708            Steenwijkerland
3            1895                    Oldambt
4             267                    Nijkerk
5             505                  Dordrecht
6            2451         Martini-ziekenhuis
7             173                  Oldenzaal
8             928                   Kerkrade
9            2062                         P1
10            620                     Vianen
11            861                  Veldhoven
12            642                Zwijndrecht
13            297                 Zaltbommel
14            907                     Gennep
15           2452              Martini-Plaza
16            352         Wijk bij Duurstede
17           2463                        PCH
18            553                      Lisse
19            275                     Rheden
20           2450                       UMCG
21            796           's-Hertogenbosch
22            448                      Texel
23            479                   Zaanstad
24           1676         Schouwen-Duiveland

## Combining datasets with AreaManager ID

1. Get key to merge on (AreaManagerID).
2. Merge the two datasets. With the ID from GB & T the ManagerDec of GB gets added to T.

In [3]:
key = fare.columns[0]
combined = pd.merge(fare, managers, how="left", on=[key])
combined

,AreaManagerId,FareCalculationCode,StartDateFarePart,StartDurationFarePart,EndDurationFarePart,AmountFarePart,StepSizeFarePart,EndDateFarePart,AmountCumulative,AreaManagerDesc
0,512,TAR04,20150101,0,999999,0.020000,1,29991231,0.00000,NaN
1,34,BEZVGBZ,20161101,0,4,0.000000,4,20170102,0.00000,NaN
2,150,TAR04,20121218,0,999999,0.016667,1,20150101,0.00000,NaN
3,150,TAR03,20140101,0,48,0.041667,1,20150101,0.00000,NaN
4,150,TAR04,20150101,0,999999,0.018519,1,29991231,0.00000,NaN
5,34,BEZVGAB,20170102,0,4,0.000000,4,29991231,0.00000,NaN
6,150,TAR03,20140101,48,999999,0.083333,1,20150101,2.00000,NaN
7,150,TAR02,20140101,0,999999,0.021739,1,20150101,0.00000,NaN
8,34,BEZVGAB,20161101,120,999999,0.700000,120,20170102,0.70000,NaN
9,772,STRIJP02,20190913,0,999999,0.030000,1,20190927,0.00000,NaN
10,34,BEZVGBZ,20170102,240,999999,0.200000,1200,29991231,0.20000,NaN
11,200,GAR14,20131212,0,999999,9.000000,1440,20200701,0.00000,NaN
12,2459,TER03,20131111,0,60,0.000000,60,29991231,0.00000,NaN
13,394,HFD_ZONEB,20130626,0,60,0.011390,1,20131001,0.00000,NaN
14,2460,GAR23,20131112,0,999999,20.000000,1440,29991231,0.00000,NaN
15,2449,GAR49,20140901,0,999999,1.500000,30,29991231,0.00000,NaN
16,473,TAR01,20120425,0,240,0.036667,1,20140301,0.00000,NaN
17,642,GAR02,20130926,0,999999,8.000000,735,29991231,0.00000,Zwijndrecht
18,2452,GAR01,20160404,15,999999,2.000000,60,20200723,0.00000,Martini-Plaza
19,718,GAR02,20131009,0,18,0.500000,18,20140101,0.00000,NaN
20,394,HFD_NS,20130626,1080,999999,0.107500,1,20130730,5.46804,NaN
21,384,DMNMBON,20191001,120,999999,0.025000,1,29991231,0.00000,NaN
22,424,DAG01,20120412,0,999999,18.000000,720,20130101,0.00000,NaN
23,983,TER01,20131003,0,999999,1.800000,60,20140101,0.00000,NaN
24,307,TAR01,20110101,0,60,0.038333,1,20120928,0.00000,NaN

The only problem is that not all ID's got to a name in database GB where the names of the area managers are stored.