# Combining datasets from RDW

Here I attempt to combine as many datasets from RDW as possible. I'll use `pandas` to clean and merge them.

To see the content of multiple datasets I've made a function printing out each dataset. First I save multiple datasets in seperate variables. Then I add all the individual datasets in a list *datasets* and call the show_datasets function.

In [1]:
import pandas as pd
from functools import reduce


def show_datasets(list):
    for dataset in datasets:
        print(dataset.head(), "\n")


# datasets
AREA_MAN = pd.read_csv("../datasets/RDW/GEBIEDSBEHEERDER.csv")
FARE = pd.read_csv("../datasets/RDW/TARIEFDEEL.csv")
AREA = pd.read_csv("../datasets/RDW/GEBIED.csv")
INDEX = pd.read_csv("../datasets/RDW/Index_Statisch_Dynamisch.csv")
P_OPEN = pd.read_csv("../datasets/RDW/PARKING_OPEN.csv")
P_ACCESS = pd.read_csv("../datasets/RDW/PARKING_TOEGANG.csv")
P_SPEC = pd.read_csv("../datasets/RDW/SPECIFICATIES_PARKEERGEBIED.csv")
TIMEPERIOD = pd.read_csv("../datasets/RDW/TIJDVAK.csv")
USEGOAL = pd.read_csv("../datasets/RDW/GEBRUIKSDOEL.csv")



datasets = [AREA_MAN, FARE, AREA, INDEX, P_OPEN, P_ACCESS, P_SPEC, TIMEPERIOD, USEGOAL]

show_datasets(datasets)

   AreaManagerId            AreaManagerDesc  StartDateAreaManagerId  \
0           2468  Aberdeen Asset Management                20140101
1           1783                   Westland                20131024
2           1708            Steenwijkerland                20131018
3           1895                    Oldambt                20120608
4            267                    Nijkerk                20120405

   EndDateAreaManagerId  URL
0              29991231  NaN
1              29991231  NaN
2              29991231  NaN
3              29991231  NaN
4              29991231  NaN

   AreaManagerId FareCalculationCode  StartDateFarePart  \
0            512               TAR04           20150101
1             34             BEZVGBZ           20161101
2            150               TAR04           20121218
3            150               TAR03           20140101
4            150               TAR04           20150101

   StartDurationFarePart  EndDurationFarePart  AmountFarePart  \
0                      0               999999        0.020000
1                      0                    4        0.000000
2                      0               999999        0.016667
3                      0                   48        0.041667
4                      0               999999        0.018519

   StepSizeFarePart  EndDateFarePart  AmountCumulative
0                 1         29991231               0.0
1                 4         20170102               0.0
2                 1         20150101               0.0
3                 1         20150101               0.0
4                 1         29991231               0.0

   AreaManagerId      AreaId                       AreaDesc  StartDateArea  \
0           2448   603_BOGP4    In de Bogaard P4 (Rijswijk)       20140101
1            303  303_STRAND             Strand Drontermeer       20170101
2           2448    518_GRMA  Garage Grote Markt (Den Haag)       20131125
3           1900   1900_LEMM                      Lemmerweg       20140101
4            796      020121                   Luybenstraat       20110930

   EndDateArea   UsageId
0     29991231   GARAGEP
1     29991231  BETAALDP
2     29991231   GARAGEP
3     29991231  BETAALDP
4     20111001  BETAALDP

    Organization  Organization ID  Static parking data  \
0      Groningen               14                 True
1          Haren               17                 True
2         Almere               34                 True
3    Dongeradeel               58                 True
4  Franekeradeel               70                 True

                     URL static parking data Standard static parking data  \
0  https://npropendata.rdw.nl/parkingdata/v2                      SPDP2.0
1  https://npropendata.rdw.nl/parkingdata/v2                      SPDP2.0
2  https://npropendata.rdw.nl/parkingdata/v2                      SPDP2.0
3  https://npropendata.rdw.nl/parkingdata/v2                      SPDP2.0
4  https://npropendata.rdw.nl/parkingdata/v2                      SPDP2.0

  Dynamic parking data                        URL dynamic parking data
0                 True          http://spdp.vid.nl/v1/dynamic/hoogkerk
1                 True             http://spdp.vid.nl/v1/dynamic/haren
2                 True  http://opd.it-t.nl/Data/parkingdata/v1/almere/
3                  NaN                                             NaN
4                  NaN                                             NaN

   AreaManagerId      AreaId   StartOfPeriod PeriodName  ExitPossibleAllDay  \
0            599    599_KRZM  20141001000000        NaN                   1
1            268  268_KELFKB  20141001000000        NaN                   0
2            599    599_OUHA  20141001000000        NaN                   1
3            599    599_PL53  20141001000000        NaN                   1
4            268   268_KEIZK  20141001000000        NaN                   0

   OpenAllYear  EndOfPeriod
0          1.0          NaN
1          0.0          NaN
2          1.0          NaN
3          0.0          NaN
4          0.0          NaN

   AreaManagerId      AreaId   StartOfPeriod       Days  EnterFrom  \
0            268  268_KELFKB  20141001000000   ZATERDAG        700
1            268  268_KELFKB  20141001000000    DINSDAG        700
2            268  268_MARBUR  20141001000000  DONDERDAG        700
3            268  268_KELFKB  20141001000000     ZONDAG          0
4            268  268_MOLPDK  20141001000000  DONDERDAG        700

   EnterUntil  EndOfPeriod
0        2400          NaN
1        2400          NaN
2        2400          NaN
3         400          NaN
4        2400          NaN

   AreaManagerId    AreaId  StartDateSpecifications  Capacity  \
0            599  599_KRZM           20141101000000      1700
1             34     34_P6           20200713132559       886
2           2460   546_LAM           20191119162856       350
3             14   14_PRZE           20141101000000       100
4             14   14_PRHA           20141101000000       385

   EndDateSpecifications  ChargingPointCapacity  DisabledAccess  \
0           2.099123e+13                      4             0.0
1                    NaN                      4             0.0
2                    NaN                      0             0.0
3           2.099123e+13                      0             0.0
4           2.099123e+13                      0             0.0

   MaximumVehicleHeight LimitedAccess
0                     0           NaN
1                   210             N
2                   205             N
3                     0           NaN
4                     0           NaN

   AreaManagerId RegulationId  StartDateTimeFrame DayTimeFrame  \
0            385        REG02      20120605000000     ZATERDAG
1            717    REGELING4      20130425170342      DINSDAG
2            405     405_APPE      20131021140810    KOOPAVOND
3           1783   1783_MODK2      20131024115759      DINSDAG
4            642        REG02      20120921162256      VRIJDAG

   StartTimeTimeFrame  EndTimeTimeFrame ClaimRightPossible  \
0                 700              2400                  J
1                 900              1900                  J
2                 900              2100                  J
3                   0              2400                  J
4                 900              1800                  J

  FareCalculationCode  MaxDurationRight  EndDateTimeFrame  \
0                 NaN              30.0    29991231235959
1               TAR04              60.0    20131231000000
2               TAR02               0.0    20140623000000
3               TAR05               0.0    29991231235959
4               TAR02               0.0    20140414161530

   MinParkingInterruption
0                     NaN
1                    15.0
2                     0.0
3                     NaN
4                     0.0

   AreaManagerId    UsageId       UsageIdDesc  StartDateUsageId  \
0           2468    GARAGEP    Garageparkeren          20140101
1            484   BETAALDP  Betaald Parkeren          20130919
2            353  HULPDNSTP        Hulpdienst          20130125
3           1900    GARAGEP   Garage Parkeren          20131011
4            855   BETAALDP  Betaald Parkeren          20131008

   EndDateUsageId SpecificationIndicator  SuperiorAreaManagerId  \
0        29991231                      N                 2468.0
1        29991231                      N                  484.0
2        29991231                      N                  353.0
3        29991231                      N                 1900.0
4        29991231                      N                  855.0

  SuperiorUsageId
0        PARKEREN
1        PARKEREN
2         VERGUNP
3        PARKEREN
4        PARKEREN

Next I want to see if the names of a column in multiple datasets are the same, so I can merge them. I've made a function that will return the duplicate names in the datasets.

First I create a empty list and set. I didn't know first how to find duplicates in a list so I did a search. I found an article called [Python – How to Find Duplicates in a List](https://shoutthegeek.com/how-to-find-duplicates-in-a-list-in-python/?PageSpeed=noscript) and I found an example of the duplicates being saved in a set. I tried to save it to a list but then the name of the duplicate gets added each time there is a match, resulting in the name of the duplicate being added 3 times.I saw in [this article](https://www.programiz.com/python-programming/set) the definition of a set:

> A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

So I used a set instead. 

Then I looped over each dataset and over the column names, saving the names in a list. Then I loop over the list and with `count()` it looks for duplicates. The name will be added to the *duplicates* set. Finally I covert the set to a list and return it.

In [2]:
def get_duplicates(dataset_list):
    lst = []
    duplicates = set()
    for dataset in dataset_list:
        col_names = dataset.columns.values
        for name in col_names:
            lst.append(name)
    for i in lst:
        if lst.count(i) > 1:
            duplicates.add(i)
    return list(duplicates)

dupl = get_duplicates(datasets)
print(dupl)

['EndOfPeriod', 'AreaId', 'UsageId', 'StartOfPeriod', 'FareCalculationCode', 'AreaManagerId']

To merge all the dataset I searched for how to do that. I found a question on stackoverflow called [Python: pandas merge multiple dataframes](https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes) and the code uses an anynymous function with *left* and *right* parameters containing the datasets and `pd.merge` to merge them together. I

In [3]:
def merge_on(data_frames, col_names):
    merged = []
    for i, df in enumerate(data_frames):
        r = (i + 1) % len(data_frames)
        df_set = [df, data_frames[r]]
        for key in col_names:
            try:
                merged = merge_dfs(df_set, key)
                print(f"Match: {key}")
            except KeyError:
                pass
    return merged


def merge_dfs(data_frames, col_name, type="outer"):
    return reduce(lambda left, right: pd.merge(left, right, on=[col_name], how=type), data_frames)


# Wrapping around list https://stackoverflow.com/questions/22122623/wrapping-around-on-a-list-when-list-index-is-out-of-range


def wrap_index_list(list, add=1):
    result = []
    for i in range(len(list)):
        result.append(list.index(list[(i + add) % len(list)]))
    return result


all_data = merge_on(datasets, dupl)
all_data

Match: AreaManagerId
Match: AreaManagerId
Match: EndOfPeriod
Match: AreaId
Match: StartOfPeriod
Match: AreaManagerId
Match: AreaId
Match: AreaManagerId
Match: AreaManagerId
Match: AreaManagerId
Match: AreaManagerId

,AreaManagerId,UsageId,UsageIdDesc,StartDateUsageId,EndDateUsageId,SpecificationIndicator,SuperiorAreaManagerId,SuperiorUsageId,AreaManagerDesc,StartDateAreaManagerId,EndDateAreaManagerId,URL
0,2468,GARAGEP,Garageparkeren,20140101,29991231,N,2468.0,PARKEREN,Aberdeen Asset Management,20140101,29991231,NaN
1,2468,VERGUNP,Vergunning Parkeren,20140101,29991231,J,2468.0,PARKEREN,Aberdeen Asset Management,20140101,29991231,NaN
2,2468,PARKEREN,Parkeren,20140101,29991231,J,NaN,NaN,Aberdeen Asset Management,20140101,29991231,NaN
3,2468,BETAALDP,Betaald Parkeren,20140101,29991231,N,2468.0,PARKEREN,Aberdeen Asset Management,20140101,29991231,NaN
4,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,29991231,www.alphenaandenrijn.nl
...,...,...,...,...,...,...,...,...,...,...,...,...
2049,612,VERGUNP,Vergunning Parkeren,20121025,20201019,J,612.0,PARKEREN,Spijkenisse,20121025,29991231,NaN
2050,612,TERREINP,Terrein Parkeren,20131010,20201019,N,612.0,PARKEREN,Spijkenisse,20121025,29991231,NaN
2051,612,PARKEREN,Parkeren,20121025,20201019,J,612.0,NaN,Spijkenisse,20121025,29991231,NaN
2052,612,BETAALDP,Betaald Parkeren,20121025,20201019,N,612.0,PARKEREN,Spijkenisse,20121025,29991231,NaN
2053,612,GARAGEP,Garage Parkeren,20131010,20201019,N,612.0,PARKEREN,Spijkenisse,20121025,29991231,NaN

I noticed that the data wasn't complete yet so I tried to add more datasets that would match and could be added. I saw that *Gebied.csv* and *PARKIN_OPEN.csv* had the same *AreaManagerId* key and so I made them combine. I've put them in a variable called *AREA_MAN_ID* and made this combine again with the already combined data in *all_data*.

In [4]:
AREA_MAN_ID = merge_dfs([P_OPEN, AREA], "AreaManagerId", "inner")
all_data = merge_dfs([all_data, AREA_MAN_ID], "AreaManagerId", "inner")
all_data.head(10)

,AreaManagerId,UsageId_x,UsageIdDesc,StartDateUsageId,EndDateUsageId,SpecificationIndicator,SuperiorAreaManagerId,SuperiorUsageId,AreaManagerDesc,StartDateAreaManagerId,...,StartOfPeriod,PeriodName,ExitPossibleAllDay,OpenAllYear,EndOfPeriod,AreaId_y,AreaDesc,StartDateArea,EndDateArea,UsageId_y
0,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,484_PALN,Straatparkeren Paradijslaan (Alphen a/d Rijn),20131022,20140718,BETAALDP
1,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,484_CPGEM,Carpool Gemeneweg (Hazerswoude-Dorp),20150505,20161231,CARPOOL
2,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,484_CPNIE,Carpool Nieuwkoopseweg (Aarlanderveen),20150505,20161231,CARPOOL
3,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,484_KEZN,Blauwe Zone Kerk en Zanen (Alphen a/d Rijn),20131022,20140718,BLAUWEZ
4,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,C_VLAMING,Vergunningen Cornelis de Vlamingstraat,20160101,20160102,VERGUNP
5,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,AIDAPLEIN,Vergunningen Aidaplein,20160101,20160102,VERGUNP
6,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,CARMENPL,Vergunningen Carmenplein,20160101,20160102,VERGUNP
7,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,LAGE_ZIJDE,Vergunningen Lage Zijde,20160101,20160102,VERGUNP
8,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,H-L_ZIJDE,Vergunningen Bedrijven Hoge / Lage zijde,20160101,20160102,VERGUNP
9,484,BETAALDP,Betaald Parkeren,20130919,29991231,N,484.0,PARKEREN,Alphen aan den Rijn,20130919,...,20170211151655,NaN,0,0.0,NaN,HOGE_ZIJDE,Vergunningen Hoge zijde,20160101,20160102,VERGUNP

Als laatst zag ik dat er meerdere Id's waren met *y* en *x*. Ik heb die veranderd naar betere benaming voor het type data. Ook heb ik de kolommen die ik niet ga gebruiken verwijderd.

Finally I saw that there were multiple ids with *y* and *x*. I chanced their name to better describe their data type and also removed columns I won't use anymore.

In [5]:
rename_col = {"UsageId_y": "UsageType_Id", "AreaId_x": "AreaZone_Id"}
remove_col = ["SpecificationIndicator", "SuperiorAreaManagerId", "StartDateAreaManagerId", "EndDateAreaManagerId", "StartOfPeriod", "EndOfPeriod", "StartDateArea", "EndDateArea", "AreaId_y", "UsageId_x", "PeriodName", "URL"]

all_data = all_data.drop(columns=remove_col, axis=1)
all_data = all_data.rename(columns=rename_col)

all_data["ExitPossibleAllDay"] = all_data["ExitPossibleAllDay"].replace([1, 0],[True, False])
all_data["OpenAllYear"] = all_data["OpenAllYear"].replace([1.0, 0.0],[True, False]).fillna(False)

In [6]:
all_data.tail(10)

,AreaManagerId,UsageIdDesc,StartDateUsageId,EndDateUsageId,SuperiorUsageId,AreaManagerDesc,AreaZone_Id,ExitPossibleAllDay,OpenAllYear,AreaDesc,UsageType_Id
1042978,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Gildenwijk,BETAALDP
1042979,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Centrum Oost,BETAALDP
1042980,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,P+R terrein metro-/busstation Spijkenisse Centrum,BETAALDP
1042981,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Centrum Noord,BETAALDP
1042982,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Garage Theater (Spijkenisse),GARAGEP
1042983,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Terrein Van Houtenstraat en Vredehofstraat (ce...,TERREINP
1042984,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Garage Stadhuis (Spijkenisse),GARAGEP
1042985,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Garage Kolkplein (Spijkenisse),GARAGEP
1042986,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Garage Boekenberg (Spijkenisse),GARAGEP
1042987,612,Garage Parkeren,20131010,20201019,PARKEREN,Spijkenisse,612_CPG,True,False,Garage City Plaza (Spijkenisse),GARAGEP

With the data complete I can export it to a csv-file. Now - with the data in a csv-file - I can use and filter out the data I need.

In [7]:
all_data.to_csv("RDW_complete.csv")